<html>
  <head>
    <title>Hacker Actor - Hacker quote generator</title>
    <meta name="description" content="Hacker Actor generates random hacker quotes so you can sound just like one.">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="container">
      <h1>Loading...</h1>
      <button class="regenerate">Generate new quote</button>
      <p>
      	Powered by <a href="https://github.com/stympy/faker" alt="Faker" target="_blank">Faker</a>.
      	Source at <a href="https://github.com/melvinsh/hacker-actor" alt="Github" target="_blank">Github</a>.
      </p>
    </div>

    <a href="https://github.com/melvinsh/hacker-actor"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

    <script src="jquery.min.js"></script>
    <script src="scripts.js"></script>
	<script> getQuote(); </script>
  </body>
</html>
